.logo-bar{
  height: 50px;
  width: 100%;
}

.logo-bar .img{
    height:100%;
    width:100%;
    background-image: url('./ltr-hd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
      
}